name: Start Site
on:
  push:
    branches:
      - main
    tags:
      - "!*"

jobs:
  build-deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          repository: yokobond/scratch-gui
          ref: xcratch
          path: ./scratch-gui
      - run: npm install
        working-directory: ./scratch-gui
      - run: npm install https://github.com/yokobond/scratch-vm.git#xcratch
        working-directory: ./scratch-gui
      - uses: actions/checkout@v2
        with:
          repository: xcratch/xcratch.github.io
          ref: main
          path: ./xcratch.github.io
      - run: node ./scripts/replace-logo.js ../scratch-gui
        working-directory: ./xcratch.github.io
      - run: node ./scripts/original-assets.js ../scratch-gui
        working-directory: ./xcratch.github.io
      - run: npm run build
        working-directory: ./scratch-gui
      - run: cp ./xcratch.github.io/editor/index.html ./scratch-gui/build/index.html
      - run: cp ./xcratch.github.io/editor/favicon.ico ./scratch-gui/build/static/favicon.ico
      - run: mv -T ./xcratch.github.io/public ./public
      - run: mv -T ./scratch-gui/build ./public/editor
      - uses: actions/checkout@v2
        with:
          repository: xcratch/xcratch-doc
          path: ./xcratch-doc
      - run: mv -T ./xcratch-doc/docs ./public/docs
      - uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./public
          destination_dir: .
          keep_files: true
